<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/Assets/Img/biography.png">
    <link rel="stylesheet" href="/CSS/custom.css">
</head>
<body>
    <header class="navbar-head">
        <img class="headbar-logo"src="/Assets/Img/book-logo.jpg" alt="logo-books.com">
        <div class="container">
            <nav class="nav">
              <div class="container">
                <a class="navbar-brand" href="#"><span>The Library</span></a>
              </div>
              <div>
                <a class="menu" href="#">About</a>
                <a class="menu" href="#">Review</a>
                <a class="menu" href="#">Contact</a>
              </div>
              <div class="search-bar">
                <form action="" method="GET">
                    <input type="text" placeholder="Search for a book...">
                    <button type="submit" id="search-btn">Find</button>
                </form>
              </div>
              <div>
                <img class='user-acc'src="/Assets/Img/read.png" alt="user">
              </div>
            </nav>
          </div>
      </header>
      <section class="sidebar">
        <div>
            <h2 class="cat">Catagories</h2>
            
            <ul>
                <li class="list"><a href="#">Fiction</a></li>
                <li class="list"><a  href="#">Non-Fiction</href=></li>
                <li class="list"><a href="#">Mystery</href=></li>
                <li class="list"><a href="#">Children's Literature</href=></li>
                <li class="list"><a href="#">Romance Novel</href=></li>
                <li class="list"><a href="#">Fantasy</href=></li>
                <li class="list"><a href="#">Spirituality</href=></li>
                <li class="list"><a href="#">Novel</a></li>
                <li class="list"><a href="#">Horror</href=></li>
                <li class="list"><a href="#">History</href=></li>
                <li class="list"><a href="#">Science Fiction</href=></li>
                <li class="list"><a href="#">Graphic Novel</href=></li>

            </ul>

        </div>
      </section>
    
</body>
</html>